<div class="login-container">
  <div class="login-card">
    <h2>Admin Login </h2> 

    <form>
      <input type="text" placeholder="username" name="username" class="input-field" />

      <div class="password-container">
        <input type="password" placeholder="password" name="password" class="input-field" />
        <span class="toggle-icon">&#128065;</span>
      </div>

      <div class="links">
  <a routerLink="/Account-Registration"> Account <br> Registration</a> 
   <a routerLink="/forgate-password"> Forgote <br>  Password </a> 
      </div>

      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
