.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.password-container .toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.links a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.right-link {
  margin-left: auto;
}

button {
  width: 90%;
  padding: 10px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0097a7;
}
