.better-food-section {
  position: relative;
  background-color: #ffffff;
  background-clip: border-box;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

 
}

.center-text {
  z-index: 2;
}

.headline {
  font-size: 3.5rem;
  color: #f0434a;
  font-weight: bold;
  line-height: 1.2;
}

.headline span {
  display: inline-block;
  margin-top: 5px;
}

.subtext {
  color: #050505;
  font-size: 1.5rem;
  margin-top: 15px;
  font-style: normal;
  font-weight:400px;
}

.food-img,
.decoration {
  position: absolute;
  z-index: 1;
  max-width: 180px;
}

.meals {
  bottom: 10%;
  left: 10%;
  width: 160px;
  border-radius: 150px;
}

.poha {
  top: 5%;
  right: 10%;
  height:150px;
  width: 160px;
  border-radius: 500px;
  transform: translateX(100px); /* Right side */
  animation: slideInRight 0.7s ease-out forwards;

}
.dosa{
  top:5%;
  left: 10%;
  height:150px;
  width:160px;
  border-radius:100px;

}


.vadapav {
  right: 10%;
  top: 60%;
  width: 140px;
  height:150px;
  border-radius: 70px;
}

.leaf {
  top: 10%;
  left: 50%;
  width: 30px;
}
.biryani{
 bottom: 10%;
  left: 45%;
  width: 160px;
  height:120px;
  border-radius: 300px;
}

.food-img,
.decoration {
  opacity: 0;
  transform: translateX(-100px);
  animation:  slideInLeft 0.7s ease-out forwards;
}

/* Optional delay for staggered entry */
.food-img:nth-child(1) { animation-delay: 0.1s; }
.food-img:nth-child(2) { animation-delay: 0.2s; }
.food-img:nth-child(3) { animation-delay: 0.3s; }
.decoration:nth-child(4) { animation-delay: 0.4s; }
.decoration:nth-child(5) { animation-delay: 0.5s; }
.decoration:nth-child(6) { animation-delay: 0.6s; }

/* Animation keyframes */
@keyframes  slideInLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


