<div class="better-food-section">
  <!-- Decorative Images -->
  <img src="assets/images/poha.jpeg" class="food-img poha" alt="poha" />
  <img src="./assets/images/meals.webp" class="food-img meals" alt="meals" />
 <img src="./assets/images/dosa.jpg" class="food-img dosa" alt="dosa" />
  <img src="./assets/images/vadapav.jpg" class="decoration vadapav" alt="vadapav" />
  <img src="./assets/images/leaf.png" class="decoration leaf" alt="Leaf" />
    <img src="./assets/images/biryani.jpeg" class="decoration biryani" alt="biryani" />
 

  

  <!-- Text Content -->
  <div class="center-text">
    <h1 class="headline">Good food for<br /><span>Good Life </span></h1>
    <h2 class="subtext">
       we’ve provide  our customers to discover new tasty, and we<br />
      deliver right to their doorstep
    </h2>
  </div>
</div>
<img src="./assets/images/2889659.jpg" style="width:1200px;height:600px;border-radius: 400px;"/>
<app-footer></app-footer>
