<div class="container my-4">
  <h3 class="text-center mb-4">Explore Our Meals</h3>
  <div id="multiItemCarousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-inner">

      <!-- First Slide -->
      <div class="carousel-item active">
        <div class="row text-center justify-content-center">
          <div class="col-md-2 col-sm-6">
            <img src="assets/images/Dosa.avif" class="img-fluid rounded mb-2" alt="Dosa">
            <p>Dosa</p>
          </div>
          <div class="col-md-2 col-sm-6">
            <img src="assets/images/Idli.avif" class="img-fluid rounded mb-2" alt="Idli">
            <p>Idli</p>
          </div>
          <div class="col-md-2 col-sm-6">
            <img src="assets/images/Appam.avif" class="img-fluid rounded mb-2" alt="appam">
            <p>Appam</p>
          </div>
          <div class="col-md-2 col-sm-6">
            <img src="assets/images/Bonda.avif" class="img-fluid rounded mb-2" alt="Bonda">
            <p>Bonda</p>
          </div>
          <div class="col-md-2 col-sm-6">
            <img src="assets/images/Paratha.avif" class="img-fluid rounded mb-2" alt="paratha">
            <p>Paratha</p>
          </div>
        </div>
      </div>

      <!-- Second Slide -->
      <div class="carousel-item">
        <div class="row text-center justify-content-center">
          <div class="col-md-2 col-sm-2">
            <img src="assets/images/Upma.avif" class="img-fluid rounded mb-2" alt="upma">
            <p>Upma</p>
          </div>
          <div class="col-md-2 col-sm-2">
            <img src="assets/images/Khichdi.avif" class="img-fluid rounded mb-2" alt="kichdi">
            <p>Khichdi</p>
          </div>
          <div class="col-md-2 col-sm-2">
            <img src="assets/images/Chole Bhature.avif" class="img-fluid rounded mb-2" alt="chole bhaturi">
            <p>Chole Bhature</p>
          </div>
          <div class="col-md-2 col-sm-2">
            <img src="assets/images/Vada.avif" class="img-fluid rounded mb-2" alt="Vada">
            <p>Vada</p>
          </div>
          <div class="col-md-2 col-sm-2">
            <img src="assets/images/Biryani.avif" class="img-fluid rounded mb-2" alt="Biryani">
            <p>Biryani</p>
          </div>
        </div>
      </div>

      <!-- Add more slides as needed -->

    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev " type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
      <span ><svg xmlns="http://www.w3.org/2000/svg" width="29" height="25" fill="black" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
</svg></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
      <span ><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg></span>
    </button>

  </div>
</div>





<div class="better-food-section">
  <!-- Decorative Images -->
  <img src="assets/images/poha.jpeg" class="food-img poha" alt="poha" />
  <img src="./assets/images/meals.webp" class="food-img meals" alt="meals" />
 <img src="./assets/images/dosa.jpg" class="food-img dosa" alt="dosa"  id="dos" />
  <img src="./assets/images/vadapav.jpg" class="decoration vadapav" alt="vadapav" />
  <img src="./assets/images/leaf.png" class="decoration leaf" alt="Leaf" />
    <img src="./assets/images/biryani.jpeg" class="decoration biryani" alt="biryani" />
 

  

  <!-- Text Content -->
  <div class="center-text">
    <h1 class="headline">Good food for<br /><span>Good Life </span></h1>
    <h2 class="subtext">
       we’ve provide  our customers to discover new tasty, and we<br />
      deliver right to their doorstep
    </h2>
  </div>
</div>
<img src="./assets/images/28896591.jpg" style="width:1200px;height:600px;border-radius: 400px;"/>
<app-footer></app-footer>
